// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// custom theme
@import "./theme.scss";

@include angular-material-theme($angular-app-theme);
:root {
  --color-primary: #{mat-color($angular-app-primary)};
  --color-accent: #{mat-color($angular-app-accent)};
  --color-warn: #{mat-color($angular-app-warn)};
  --color-secondary: #{mat-color($angular-app-secondary)};
  --color-background: #e7e2e2;
  --color-btn: #e7e2e2;
}

.dark-theme {
  @include angular-material-color($dark-theme);

}

:root .dark-theme{
  --color-primary: #{mat-color($dark-primary)};
  --color-accent: #{mat-color($dark-accent)};
  --color-warn: #{mat-color($dark-warn)};
  --color-secondary: #{mat-color($dark-secondary)};
  --color-background: #303030;
  --color-btn: #303030;
}

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($typography);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #303030;
}