
.sidenav-container {
  height: 99%;
}
.toggler{
  cursor: pointer;
}
.content {
  display: inline-block;
  height: calc(100vh - 74px);
  margin: 2px;
  box-shadow: 1px black;
  width: calc(100% - 4px);
  overflow: hidden;
}
.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-sidenav-container {
  max-height: 99vh;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar,mat-toolbar .toggler{
  user-select: none;
}
