
.sidenav-container {
  height: 99%;
}
.content {
  display: inline-block;
  height: calc(100vh - 74px);
  margin: 2px;
  box-shadow: 1px black;
  width: calc(100% - 4px);
  overflow: hidden;
}
.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
